<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/detail.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Detail Page</title>
    <style>
      .active { font-weight: bold; color: #111727 !important; }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary ps-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/assets/images/dumbways.png" style="width: 50px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="project">My
                Project</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="testimonial"
              >Testimonial</a>
            </li>
          </ul>
          <a href="contact" class="btn btn-danger">Contact Me</a>
        </div>
      </div>
    </nav>

    <!-- formulir -->
    <h2>Dumbways Web App</h2>
    <div id="main-container-detail">
      <!-- first column -->
      <div id="first-column-detail">
        <img
          id="self-portrait"
          src="/assets/images/img_detail.jpg"
          alt="self-portrait"
        />
      </div>

      <!-- second column -->
      <div id="second-column-detail">
        <div id="duration-section">
          <p class="no-margin-top"><strong>Duration</strong></p>
          <div class="icon-text">
            <i class="fa fa-calendar"> </i>
            <p class="no-margin">12 Jan 2021 - 11 Feb 2021</p>
          </div>

          <div class="icon-text mt-3">
            <i class="fa fa-clock-o"> </i>
            <p class="no-margin-left mt-0 mb-0">1 month</p>
          </div>
        </div>

        <div id="technologies-section">
          <p class="no-margin-top"><strong>Technologies</strong></p>

          <div class="tech-row">
            <div class="icon-text tech-item">
              <i class="fa fa-code"> </i>
              <p class="no-margin-left mt-0 mb-0">React JS</p>
            </div>
            <div class="icon-text tech-item">
              <i class="fa fa-laptop"> </i>
              <p class="no-margin-left mt-0 mb-0">JavaScript</p>
            </div>
          </div>

          <div class="tech-row tech-row-margin mt-2">
            <div class="icon-text tech-item">
              <i class="fa fa-code"> </i>
              <p class="no-margin-left mt-0 mb-0">Node JS</p>
            </div>
            <div class="icon-text tech-item ps-1">
              <i class="fa fa-laptop"> </i>
              <p class="no-margin-left mt-0 mb-0">Socket IO</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="description-container">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium,
      quam! Eligendi, quisquam optio ad doloremque provident quae tenetur veniam
      voluptatibus, earum, iusto reprehenderit eaque alias deleniti debitis!
      Tempora, quos rerum! Perspiciatis ipsa facere inventore voluptatem, culpa
      molestiae laudantium magnam incidunt atque nobis tenetur neque odit.
      Repudiandae nihil ex, impedit quasi quis dolor, dolores mollitia veritatis
      cum quibusdam doloribus molestiae aliquam! Rerum repellat expedita amet
      numquam recusandae natus? Fugit vitae non ipsum similique perferendis,
      voluptas nisi doloribus! Explicabo earum sapiente adipisci ipsum laborum
      alias iste, repellat aperiam maiores, dignissimos dicta provident? Sed vel
      suscipit vero placeat ullam omnis dicta rerum facilis officia molestiae
      sint eum ad, consectetur, tempore excepturi totam. Similique consequuntur
      qui dignissimos ab! Et temporibus repellat cumque labore id. Minus maiores
      repellat deserunt ea officia? corporis explicabo quos dignissimos,
      blanditiis quo aliquam possimus dolores quam accusamus suscipit beatae
      vel? Illo porro soluta ratione, consectetur atque facere dicta quo. Quia
      eveniet animi dolores veniam, ducimus, cupiditate velit ullam dolore
      consequatur quidem sint, fugiat odio voluptates voluptatem sit minus
      veritatis esse enim? Dolor officiis officia iusto magni odio assumenda
      quibusdam.
      <br />Debitis quam at sit est id distinctio quod possimus dolores placeat.
      Cum labore autem vitae aperiam voluptatum minima natus voluptates
      aspernatur! Iusto rerum blanditiis ad incidunt deserunt? Ad, distinctio
      ipsa. Fugit voluptatibus soluta exercitationem earum tempora voluptas
      perferendis nisi rerum deserunt. Illum, dolore? Sint, mollitia! Ex rerum
      nostrum quaerat laboriosam quidem necessitatibus, in, eius expedita
      placeat voluptatibus et. Excepturi, sequi.
      <br />
      Velit labore illo voluptatem earum libero quisquam magni maiores? Omnis,
      officiis quo suscipit explicabo itaque, obcaecati, molestias rem dolores
      magnam eveniet cumque quisquam aut ut voluptatem expedita consequatur
      nesciunt quibusdam. Distinctio fuga qui nulla pariatur quod eveniet nisi
      deleniti, eaque laboriosam aliquid sed sequi, neque aspernatur ad impedit
      repudiandae illo!
    </div>
  </body>
</html>